html {
  color: #222;
  font: 18px/30px Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  margin: 0;
}

.cover-image {
  position: relative;
  width: 100%;
  height: 65%;
  z-index: -1;
  top: 0;
  left: 0;
}

.cover-image .image {
  position: fixed;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cover-image .image.default {
  background-image: url(https://pbs.twimg.com/profile_banners/384546082/1422525028/1500x500);
}

section {
  background: #fafafa;
  text-align: center;
}

a {
  color: #222;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
}

p {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
}

img {
  margin: -80px auto 0;
  border: 5px solid #eee;
  border-radius: 150px;
}

h1 {
  font-size: 28px;
  line-height: 1.5;
  margin: 0 auto;
}

ul {
  margin: 15px 0;
  padding: 0;
}

ul li {
  display: inline;
  font-size: 20px;
  list-style: none;
  padding: 0 10px;
}

/*.home__icons .icon {
  font-size: 32px;
  color: rgba($primary, 0.6);
  transition: color 0.3s ease;

  &:hover {
    color: $primary;
  }
}
*/

@media screen and (min-width: 700px) {
  .cover-image .image.blur {
    background: url(https://pbs.twimg.com/profile_banners/384546082/1422525028/1500x500);
    -webkit-filter: blur(5px) brightness(0.7);
    filter: blur(5px) brighten(0.7);
    opacity: 0;
  }
}
