<img src="https://gravatar.com/avatar/029b19dba521584d83398ada3ecf6131?s=105" alt=Gravatar width=105 height=105 srcset="https://gravatar.com/avatar/029b19dba521584d83398ada3ecf6131?s=210 2x">
<h2>About me</h2>
<p>
Hi! I’m Benjamin Tan, a 16-year old student from Singapore. I write code every once in a while, usually doing stuff about the Web. If you’re interested in reading stuff like this, follow me on <a href=https://twitter.com/demoneaux>Twitter</a> and <a href=https://github.com/d10>GitHub</a>.
</p>
