<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/main.css">

    {% if page.id == "home" or page.id == "blog" %}
    <link rel="alternate" type="application/atom+xml" title="{{ site.name }} — Atom feed" href="/feed.atom">
    {% endif %}

    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} — {% endif %}{{ site.name }}">
    <meta property="og:type" content="{% if page.id == 'post' %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  </head>
  <body{% if page.id %} id="{{ page.id }}"{% endif %}>
    {% include header.html %}
    <section id="content">
      {{ content }}
    </section>
    {% include footer.html %}
    <script>
      // Redirect to HTTPS version.
      if (location.protocol == "http:") {
        location.protocol = "https:";
      }
      // Google Analytics.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create', 'UA-38386306-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
